<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="/static/images/logos/AUS.png">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
        <title>Flask Parent Template</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="script" src="/static/js/script.js">
        
    </head>
    <body>

        <!-- _navbar.html -->
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">AUS Ball</a>
                </div>
                <!--/.nav-collapse -->
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Standings <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('wstandings') }}">Women's Standings</a></li>
                                <li><a href="{{ url_for('mstandings') }}">Men's Standings</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Schedule <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('wschedule') }}">Women's Schedule</a></li>
                                <li><a href="{{ url_for('mschedule') }}">Men's Schedule</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="{{ url_for('wleaders') }}">Women's Leaders</a></li>


                    </ul>
                </div>
            </div>
        </nav>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        {% block content %}
        
        {% endblock %}
    </body>
</html>