<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/static/images/logos/AUS.png">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/template.css">
    <script src="/static/js/script.js"></script>
    <title>Women's Leaders</title>
    
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
                
        <div class="container">
            <div class="panel panel-default">
                <h3>2024 - 2025 AUS Women's Hockey - Indivdual Statistics</h3><br>
                <ul class="button-list">
                    <li><button id="wall">All Skaters</button></li>
                    <li><button id="wforward">Forwards</button></li>
                    <li><button id="wdefense">Defense</button></li>
                    <li><button id="wgoalies">Goalies</button></li>
                </ul>
            </div>
        </div>
        
    {% endblock %}
  </body>
</html>