<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/static/images/logos/AUS.png">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/template.css">
    <script src="/static/js/script.js"></script>
    <title>Home</title>
    
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
                
        <div class="container">
            <div class="panel panel-default">
                <table id="data-table">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Away</th>
                            <th>Home</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2024</td>
                            <td>StFX 1</td>
                            <td><b>UNB 2</b></td>
                            <td>2OT</td>
                        </tr>
                        <tr>
                            <td>2023</td>
                            <td>StFX 2</td>
                            <td><b>UNB 3</b></td>
                            <td>2OT</td>
                        </tr>
                        <tr>
                            <td>2022</td>
                            <td><b>UNB 4</b></td>
                            <td>StFX 0</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2021</td>
                            <td>COVID-19</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2020</td>
                            <td>Saint Mary's 3</td>
                            <td><b>StFX 5</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2019</td>
                            <td>StFX 1</td>
                            <td><b>St. Thomas 2</b></td>  
                            <td></td>  
                        </tr>
                        <tr>
                            <td>2018</td>
                            <td><b>Saint Mary's 1</b></td>
                            <td>StFX 0</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2017</td>
                            <td>StFX 2</td>
                            <td><b>Saint Mary's 3</b></td>
                            <td>3OT</td>
                        </tr>
                        <tr>
                            <td>2016</td>
                            <td>St. Thomas 1</td>
                            <td><b>Saint Mary's 5</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2015</td>
                            <td><b>StFX 3</b></td>
                            <td>Moncton 2</td>
                            <td>2OT</td>
                        </tr>
                        <tr>
                            <td>2014</td>
                            <td>Mount Allison 0</td>
                            <td><b>Moncton 2</b></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>

        
        
    {% endblock %}

    
  </body>
</html>