<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/static/images/logos/AUS.png">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/template.css">
    <script src="/static/js/script.js"></script>
    <title>Schedule</title>
    <script>
        async function fetch_schedule () {
            try {
                const response = await fetch('/schedule_data');
                // Check if the response is OK (status code 200)
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                
                // Parse JSON data
                const data = await response.json();
                
            } catch (error) {
                console.error('There was a problem with the fetch operation', error);
            }
        }
        window.onload = fetch_schedule;
    </script>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
                
        <div class="container">
            <div class="panel panel-default">
                
            </div>
        </div>
        
    {% endblock %}
  </body>
</html>